extends ./layouts/main.jade

block title 
	title Intro Page
	
block content
	#container
	//.intro-page
		canvas#canv
		a.logo(src="img/logo.png")
			img(src="img/logo.png", alt="")
		
	script(src='js/intro-v0.2.js') 
	//script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/delaunay.js")
	//script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js")